*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.menu{
    display: flex;
    flex-wrap: wrap;

}
.product{
    width: 49%;
    margin: 5px;
    
}
.text{
    font-size: 30px;
}
.avatar{
    height: 100px;
    width: 100px;
}